<div class="links">
    <div class="home" onclick="location.href='/';">Login</div>
    <div class="link1" onclick="location.href='/shownCourses';">Courses</div>
    <div class="link2" onclick="location.href='/checkOut';">Shopping Cart</div>

</div>